 <div onload="init()" class="container-fluid">
        <div class="row-fluid">
          <div id="parts" class="span2">
            <ul id="parts-menu" class="nav nav-tabs nav-stacked">
              <li>
                <a href="#">Head</a>
              </li>
              <li>
                <a href="#">Body</a>
              </li>
              <li>
                <a href="#">Eye</a>
              </li>
              <li>
                <a href="#">Leg</a>
              </li>
              <li>
                <a href="#">Arm</a>
              </li>
              <li>
                <a href="#">Accessories</a>
              </li>
              <li>
                <a href="#">Background</a>
              </li>
            </ul>
          </div>
          <div id="items-wrapper" class="span5">
            <div id="items">


              <!-- wrap the parent around its children , then call the same method again  -->

              <!-- male or female , main body parts , eyes and shoes and helmets and jewlary and clothes  , sunglasses -->

              <!-- everytime a user clicks a variance we look at parent part's variance for positioning we then add the avatar_id to this variance using avatar_variances array , when the user saves the avatar we only send the avatar's variance -->

              <!-- starting from level 1   -->

             <!-- for loop on the top element -->

              <!-- div  -->
                 <!-- the top element   -->
                       <!-- and the children parts  -->

                         <!-- /div  -->
              <!-- /div -->
              <!-- end  -->




              <% def output (part)


                   if part.child_parts.nil?



                    return



                   elsif   part.user_ids.include?(-1) or part.user_ids.include?@user_id %>


                      <span data-part-name=<%= part.name %> data-part-position=<%= part.position %>   id= <%= part.id %>  >

                      <% part.variances.each do |variance| %>

                            <!-- check if the user is eligible for this variance -->

                            <% if variance.user_ids.include?@user_id or variance.user_ids.include?(-1) %>

                          <a href="#" data-part-id =<%= part.id %>  id= <%= variance.id %> data-part-name=<%= part.name %> > <img  id=<%=part.name%> src=<%= variance.res %>  /> </a>

                            <% end %>


                      <% end %>





                        <% part.child_parts.each do |child| %>


                                 <% output child %>


                          <% end %>



                      </span> <!-- end parent part -->




                  <% end %>


              <% end %>


              <% @part = @library.parts.select{|part| part.name.eql?'library'} %>

              <% output @part.first %>


            </div>
          </div>
          <div id="avatar" class="span5">
            <div id="avatar-button-group" class="btn-group">
              <a class="btn btn-danger"><i class="icon-th-large "></i> Random</a>
              <a class="btn btn-warning"><i class="icon-retweet "></i> Start Over</a>
              <a class="btn btn-info"><i class="icon-file "></i> Save</a>
            </div>
            <canvas width="320" height="400" id="avatarCanvas"></canvas>
          </div>

        </div>
      </div>







 <!-- this is for the structure of the avatar -->



 <div id="hiddenAvatar" class="hidden">



   <!-- wrap the parent around its children , then call the same method again  -->

   <!-- male or female , main body parts , eyes and shoes and helmets and jewlary and clothes  , sunglasses -->

   <!-- everytime a user clicks a variance we look at parent part's variance for positioning we then add the avatar_id to this variance using avatar_variances array , when the user saves the avatar we only send the avatar's variance -->

   <!-- starting from level 1   -->

   <!-- for loop on the top element -->

   <!-- div  -->
   <!-- the top element   -->
   <!-- and the children parts  -->

   <!-- /div  -->
   <!-- /div -->
   <!-- end  -->




   <% def output (part)


        if part.relative_children.nil?



          return



        elsif   part.user_ids.include?(-1) or part.user_ids.include?@user_id %>


                      <span data-part-name=<%= part.name %>  data-part-position=<%=part.position %> data-part-offset=<%= part.offset %>  id= <%= part.id %>  >


                        <% part.relative_children.each do |child| %>




                                 <% output child %>




                          <% end %>



                      </span> <!-- end parent part -->




       <% end %>


   <% end %>


   <% @part = @library.parts.select{|part| part.name.eql?'library'} %>

   <% output @part.first %>




 </div>




 <script charset="utf-8" type="text/javascript">

       //this will initialize a variable that will serve as the list of variances
       var variances = <%= raw @avatar_variances.to_json.gsub("</", "<\\/") %>;

         init();


 </script>

