 <div class="container-fluid">
        <div class="row-fluid">
          <div id="parts" class="span2">
            <ul id="parts-menu" class="nav nav-tabs nav-stacked">
              <li>
                <a href="#">Head</a>
              </li>
              <li>
                <a href="#">Body</a>
              </li>
              <li>
                <a href="#">Eye</a>
              </li>
              <li>
                <a href="#">Leg</a>
              </li>
              <li>
                <a href="#">Arm</a>
              </li>
              <li>
                <a href="#">Accessories</a>
              </li>
              <li>
                <a href="#">Background</a>
              </li>
            </ul>
          </div>
          <div id="items-wrapper" class="span5">
            <div id="items">


              <!-- wrap the parent around its children , then call the same method again  -->

              <!-- male or female , main body parts , eyes and shoes and helmets and jewlary and clothes  , sunglasses -->

              <!-- everytime a user clicks a variance we look at parent part's variance for positioning we then add the avatar_id to this variance using avatar_variances array , when the user saves the avatar we only send the avatar's variance -->

              <!-- starting from level 1   -->

             <!-- for loop on the top element -->

              <!-- div  -->
                 <!-- the top element   -->
                       <!-- and the children parts  -->

                         <!-- /div  -->
              <!-- /div -->
              <!-- end  -->


              <% @temp = Array.new %>




              <% def output (part)


                   if part.child_parts.nil? or @temp.include?part






                    return




                 #if the user id array is not empty the user must be eligible
                 #try to eliminate duplication by adding a global array
                 #check if the child part is your sibiling

                   elsif   part.user_ids.include?(-1) or part.user_ids.include?@user_id %>

                    <%  #push the parent to check later for duplication in case of lock
                      #meaning that part is a child in one structure and a parent in another
                      @temp.push part  %>

                      <span data-part-name=<%= part.name %> data-part-position=<%= part.position %>   id= <%= part.id %>  >

                      <% part.variances.each do |variance| %>

                            <!-- check if the user is eligible for this variance -->

                            <% if variance.user_ids.include?@user_id or variance.user_ids.include?(-1) %>

                          <img alt="variance_image" src=<%= variance.res %>  id= <%= variance.id %>>

                            <% end %>


                      <% end %>





                        <% part.child_parts.each do |child| %>

                  <% #if the child share a parent with the parent then don't output the child   %>



                  <% #except the id of the root document , get the list of all root documents and add them here %>
                  <% intersect =  child.parent_part_ids & part.parent_part_ids %>

                            <% if intersect.nil? or part.name.eql?'avatar' %>
                            <span data-child-part-name= <% child.name %> >

                                 <% output child %>

                             </span>   <!-- end child part -->

                                <% else %>

                                  <%= intersect %>

                              <% end %>


                          <% end %>



                      </span> <!-- end parent part -->




                  <% end %>


              <% end %>


              <% @part = @library.parts.select{|part| part.name.eql?'avatar'} %>

              <% output @part.first %>









            </div>
          </div>
          <div id="avatar" class="span5">
            <div id="avatar-button-group" class="btn-group">
              <a class="btn btn-danger"><i class="icon-th-large "></i> Random</a>
              <a class="btn btn-warning"><i class="icon-retweet "></i> Start Over</a>
              <a class="btn btn-info"><i class="icon-file "></i> Save</a>
            </div>
            <canvas width="400" height="400" id="avatar-canvas"></canvas>
          </div>

        </div>
      </div>

